[flake8]
# 無視するファイルやディレクトリ
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    functions/load_datasets.py

# 行の最大長（オプション）
max-line-length = 200

# 無視するエラーコード（オプション）
# ignore = E501, W503
